@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.nav {
    display: grid;
    justify-content: center;
    align-content: flex-start;
    grid-area: n;
    background-color: #69425e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chapt-group {
    margin-top: 26px;
    margin-bottom: 26px;
}

.nav__titleBlock {
    display: flex;
}

.nav__title {
    margin: 0 auto;
    font-size: 30px;
}

.nav__friendsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linkback {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    /*width: 100px;*/
    height: 30px;
}

.linkback:hover {
    background-color: #8988885e;
    width: 125px;
}

a {
    font-family: 'Cabin', sans-serif;
    text-decoration: none;
    color: #949494;
}

a.activeLink {
    color: #00BCD4;
}
