.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems .dialog{
    padding: 10px;
    color: palegoldenrod;
}

.dialogsItems .active {
    color: darkmagenta;
    font-weight: bold;
}

.messages {
    padding: 10px
}

.messages .message {
color: rgb(161, 245, 26);
}